build/*
!build/README.txt
!test/support/README.txt
MPLABX.X/build/*
MPLABX.X/dist/*
MPLABX.X/debug/*
MPLABX.X/*.obj
MPLABX.X/funclist
# MPLABX.X/nbproject/Makefile.genesis.properties
# MPLABX.X/nbproject/configuration.xml
MPLABX.X/nbproject/*